name: Close Pull Requests

on:
  pull_request:
  
jobs:
  close:
    name: Close Pull Request
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v5
        with:
          repo_token: ${{ secrets.BOT_TOKEN }}
          script: |
            await github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'This is an archive and this repository will not accept pull request.'
            })
            await github.rest.issues.update({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'closed'
            })
            await github.rest.issues.lock({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo
            })
